<%= render "shared/header" %>

<div class="dog-page-main">
  <div class="back-set">
    <div class="dogs"> 
      <div class="title"><h2>里親募集一覧ページ</h2></div>
      <div class="bosyu-box">
        <ul class="bosyu-dogs">
          <li class="lists">
            <%=image_tag "noeru03.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "maru05.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "noeru03.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "maru05.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "noeru03.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "maru05.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "noeru03.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "maru05.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "noeru03.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "maru05.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "noeru03.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "maru05.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "noeru03.jpg", class: "pic-image"%>
          </li>
          <li class="lists">
            <%=image_tag "maru05.jpg", class: "pic-image"%>
          </li>
        </ul>
      </div>

      <div class="ok-box">
      <div class="title"><h2>☺︎ 里親が決定しました ☺︎</h2></div>
        <ul class="ok-dogs">
          <li>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>